* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Bebas Neue", sans-serif;

    display: flex;
    position:relative;
    background-color: rgb(255, 255, 251);
}

#container {
    position: relative;
    display:flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    left:2%; 
    height: 700px;
    width:96%;

}

#title {
    position: absolute;
    justify-content: center;
    display:flex;
    text-align:center;
    align-items: center;
    top:0%;
    height: 10%;
    width: 100%;
    color: rgb(32, 32, 32);
    font-family: 'Impact';
    font-size: 50px;
}

#top {
    position: relative;
    top:-5%;
    height: 60%;
    width: 100%;
    aspect-ratio:1/1
}


.grid-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.grid-container button {
    border: none;
    border-radius: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(18px, 2.5vw, 22px);

    text-align: center;
    white-space: normal;
    word-break: break-word;
    height: 100%;
    width: 100%;
    background-color: rgb(238, 238, 233);
    color: rgb(32, 32, 32);
    cursor: pointer;
    transition: top 1.2s ease-out;
    transition:
        textContent 0.5 ease,
        background-color 0.5s ease,
        color 0.5s ease;
}

.grid-container,
.overlay-layer {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}
.overlay-layer {
    pointer-events: none;
    z-index: 10;
}
.Solution {
    z-index: 10;
    border-radius: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    transition:
        opacity 1.2s ease,
        color 0.9s ease;
        
}

/* 4x1 bars */
#one {
    grid-column: 1 / 5;
    grid-row: 1;
    opacity: 0;
}

#two {
    grid-column: 1 / 5;
    grid-row: 2;
    opacity: 0;
}

#three {
    grid-column: 1 / 5;
    grid-row: 3;
    opacity: 0;

}

#four {
    grid-column: 1 / 5;
    grid-row: 4;
    opacity: 0;

}

.lifes {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(94, 94, 94);
}


#mid {
    position: absolute;
    display:flex;
    gap:30px;
    top: 75%;
    height: 10%;
    width: 100%;
    justify-content: center;
    text-align:center;
    align-items: center;
    
}

#bottom {
    position: absolute;
    display:flex;
    gap: 10px;
    top: 85%; /* same as .top height */
    height: 10%;
    width: 100%;
    justify-content: center;
    text-align:center;
    align-items: center;
    
}

.commandBtn {
    border: 1px solid black;
    height: 50px;
    width: 170px;
    border-radius: 50px;
    background-color: rgb(255, 255, 251);
    color: rgb(32, 32, 32);
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    
}

.grid-container button.active {
    background-color: rgb(32, 32, 32);
    color: rgb(238, 238, 233);
    transform: scale(0.98);
}

.solved {
    border: none;
    border-radius: 15px;
    background-color: rgb(78, 78, 78);
    color: rgb(32, 32, 32);
    cursor: pointer;
    font-family: 'Impact';
    font-size: 30px;
}

.toast {
    position: fixed;
    top: 7%;
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    justify-content: center;
    text-align:center;
    align-items: center;

    color: rgb(183, 31, 31);
    padding: 12px 18px;
    border-radius: 8px;
    z-index: 999999;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.vibrate {
  animation: vibrate 0.2s linear 3;
}

@keyframes vibrate {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-3px); }
  50%  { transform: translateX(3px); }
  75%  { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}
